# System and IDE files
Thumbs.db
.DS_Store
.idea
.vscode
*.suo
*.sublime-project
*.sublime-workspace

# Vendors

# Build
node_modules
/npm-debug.log
build/
out/
dist/
scripts/tsgen/test/bin/
scripts/tsgen/test/output.txt
explosions.zip

plugins/spine/spine-runtimes/
